body{
	text-transform: uppercase;
	background-color: #232323;
	margin: 0;
}
.square {
	width: 30%;
	background: blue;
	padding-bottom: 30%;
	float: left;
	margin: 1.6%;
	border-radius: 15%;
	transition: background 0.6s;
}
h1{
	text-align: center; 
	font-weight: 100;
	margin: 0;
	background: steelblue;
	padding:  20px 0;
}
#container{
	margin: 0 auto;
	max-width: 600px; 
	padding-top: 20px;
}
#heading{
	color: white;
}
#stripe{
	background: white;
	color: black;
	text-align: center;
	height: 30px;
}
#result{	
	color: black;
	font-size: 1em;
}

span{
	color: white;
	font-size: 2.0em;
}
button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 1s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}
.square:hover{
	border-radius: 50%; 
	}
selected{
	color: white;
	background: steelblue;
}